.scrollDiv {
  height: 80px;
  width: 80px;
  background-color: #933FCF;
  color: white;
  position: fixed;
  bottom: 150px;
  right: 110px;
  border-radius: 50%;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  transition: 0.5s;
}

.scrollDiv:hover {
  transform: scale(1.2);
}

.ativado{
  opacity: 1;
  animation: fadeIn 0.5s forwards;
}

.desativado {
  opacity: 0;
  animation: fadeOut 0.5s forwards;
  pointer-events: none;
}

.scrollDiv svg {
  height: 50px;
  width: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media(max-width:1500px) {
  .scrollDiv {
    right: 50px;
    height: 70px;
    width: 70px;
  }
}

@media(max-width: 430px) {
  .scrollDiv {
    height: 50px;
    width: 50px;
    right: 20px;
    bottom: 100px;
  }
  .scrollDiv svg {
    width: 40px;
    height: 40px;
  }
}

@media(max-width: 360px) {
  .scrollDiv {
    height: 50px;
    width: 50px;
    right: 25px;
    bottom: 30px;
  }
  .scrollDiv svg {
    margin-top: 5px;
    width: 40px;
    height: 40px;
  }
}

@media(max-width: 320px) {
  .scrollDiv {
    height: 40px;
    width: 40px;
    right: 25px;
    bottom: 30px;
  }
  .scrollDiv svg {
    margin-top: 5px;
    width: 30px;
    height: 30px;
  }
}

