.header {
  padding: 0px 120px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #232323;
  width: 100%;
  top: 0px;
  flex-wrap: wrap;
}

.headerMenu {
  display: flex;
  gap: 40px;
}

.headerMenu li {
  padding: 5px 0px;
  border-radius: 5px;
  justify-content: center;
}

.headerMenu a {
  text-decoration: none;
  color: #E9E9E9;
  font-weight: 500;
  position: relative;
  font-size: 1.25rem;
}

.headerMenu a:not(.logo,.contato, .contatoLink):after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background: #933FCF;
  margin-top: 2px;
  transition: 0.3s;
  position:absolute;
}

.headerMenu a:not(.logo):hover:after {
  width: 100%;
}

.contato {
  padding-left: 5px;
  padding-right: 5px;
}

.contatoBox {
  background-color: #933FCF;
  border: 2px solid transparent;
  transition: 0.3s;
  
}

.contatoBox:hover {
  border: 2px solid #E9E9E9;
}

.logo {
  width: 387px;
}

@media(max-width: 1500px) {
  .header {
    padding: 0px 40px;
  }
}

@media(max-width: 1300px) {
  .logo svg {
    width: 387px;
  }
  .header {
    padding: 40px;
    height: auto;
    display: block;
    background-color: #232323;
    width: 100%;
    flex-wrap: wrap;
  }

  .headerMenu {
    margin-top: 40px;
    display: flex;
    gap: 20px;
  }
  
  .logo::after {
    content: '';
    width: 60vw;
    height: 4px;
    background-color: #933FCF;
    position: absolute;
    top: 55px;
    left: 450px;
  }

  .headerMenu {
    flex-direction: column;
  }

  .headerMenu li {
    padding: 5px 0px;
    border-radius: 5px;
    justify-content: center;
  }

  .contato {
    padding: 0px;
    width: 0%;
  }

  .contato p {
    margin-left: 5px;
  }

  .contatoBox {
    background-color: #933FCF;
    border: 2px solid transparent;
    width: 8vw; 
  }

  .headerMenu a:not(.logo,.contato, .contatoLink):after {
    transition: 0.4s;
  }

  .headerMenu a:not(.logo):hover:after {
    width: 20vw;
  }
}

@media(max-width:1150px) {
  .logo svg {
    width: 350px;
  }
  .logo::after {
    width: 50vw;
    left: 410px;
  }
  .contatoBox {
    width: 8.5vw; 
  }
}

@media(max-width: 430px) {
  
  .header {
    padding: 20px;
  }

  .headerMenu {
    margin-top: 20px;
    gap: 5px;
  }

  .headerMenu a {
    font-weight: 500;
    font-size: 1rem;
  }

  .logo svg {
    width: 240px;
  }

  .logo::after {
    left: 270px;
    width: 35vw;
    height: 4px;
    top: 30px;
  }

  .contatoBox {
    margin-top: 5px;
    width: 19vw;
  }

  .contatoBox:hover {
    border: 2px solid transparent;
  }
}